.BadgeStyle {
  background: black;
  color: white;
  padding: 0.5em;
  display: block;
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 1em;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
}






